.title {
    font-size: x-large;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

.result {
    font-weight: 500;
}

.welcome {
    font-weight: 600;
}

@media (min-width: 700px) {
    .title {
        color: black;
        font-size: xx-large;
        background-color: white;
        opacity: 0.75;
    }
    .result {
        font-size: large;
    }
}