body {
    margin: 0;
    padding: 0;
}

.main-home, .main {
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    background-image: url('images/back-mobile.jpg');
    background-size: cover;
}

#home-page-section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#order-list-section {
    width: 90%;
    margin: auto;
    text-align: center;
}

@media (min-width: 700px) {
    .main-home, .main {
        background-image: url('images/back-desktop.jpg');
    }
    #order-list-section {
        width: 60%;
    }
}

@media (min-width: 1300px) {
    body {
        font-size: 1.3em;
    }
    #order-list-section {
        width: 40%;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 0.8em;
    }
}