.button {
    outline: none;
    color: white;
    margin: 5px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: #3C91DF;
    font-size: x-large;
    padding: 10px 20px;
    border-radius: 25%;
}

.back {
    background-color: red;
    border: 1px double black;
}

.more {
    background-color: black;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
}

.filter {
    background-color: #3C91DF;
    border: 2px solid #3C59DF;
}

.open {
    background-color: black;
    padding-top: 2px;
}

.refresh {
    background-color: #3C91DF;
    font-size: x-large;
}

.zoom {
    background-color: darkblue;
    width: 20px;
    height: 20px;
}

@media (min-width: 700px) {
    .button {
        font-size: 0.9em;
    }
    .back {
        width: 100px;
    }
    .more {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1300px) {
    .back {
        width: 175px;
    }
    .more {
        width: 50px;
        height: 50px;
    }
}