.status {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15%;
}

.order-info-received {
    background-color: rgb(233, 131, 15);
    font-size: x-large;
}

.ready-for-pickup {
    background-color: rgb(214, 218, 19);
    color: green;
}

.delivered {
    background-color: green;
}