.order-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px double black;
    margin-bottom: 5px;
    box-shadow: grey 2px 2px;
}

.short {
    justify-content: space-around;
}